# EmailJS Configuration
EMAILJS_PUBLIC_KEY=wYtjS4tW7DE0Qo6IN
EMAILJS_SERVICE_ID=default_service
EMAILJS_TEMPLATE_ID=template_orawalx

# Personal Information
USER_EMAIL=example@gmail.com
USER_PHONE=+91 0123456789
USER_LOCATION=Bhavnagar, Gujarat

# Social Media Links
LINKEDIN_URL=https://www.linkedin.com/in/dhaval-asodariya-b6a514232
GITHUB_URL=https://github.com/
TWITTER_URL=https://twitter.com
INSTAGRAM_URL=https://instagram.com
